.canvas {
    display: inline;
    border: 1px solid black;
}

.tools {
    float: left;
    width: 25%;
}

.result-container{
    float: right;
    width: 20%;
}
.canvas-container{
    display: inline-block;
    width: 55%;
    text-align: center;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 22px;
}

.header {
    text-align: center;
}

input[text] {
    display: block;
}

table {
    display: inline-block;
}